* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* Main */
#header {
    margin: 8px 48px;
}

#header .header-top {
    display: block;
    float: left;
    width: 100%;
}

#header .logo {
    float: left;
    padding: 0 48px;
    width: 20%;
}

.logo img {
    width: 150px;
}

#header .search {
    display: block;
    float: left;
    width: 60%;
    position: relative; 
    padding: 48px 96px;  
}

#header .search-in {
    float: left;
    width: 100%;
    padding: 0 16px;
    height: 48px;
    border: 2px solid #dec18c;
    position: relative;
    border-radius: 2px;
}

#header .search-icon {
    position: absolute;
    padding: 16px;
    color: #dec18c;
    font-size: 16px;
    cursor: pointer;
    right: 96px;
    top: 48px;
}

#header .header-right {
    display: block;
    float: left;
    width: 20%;    
}

#header .shopping-cart {
    width: 50%;
    float: left;
    padding: 0 32px;
}

#header .shopping-cart-icon {    
    font-size: 32px;
    color: #dec18c;
    cursor: pointer;
    float: left;
}

#header .shopping-cart .total {
    font-size: 14px;
    background-color: #c28d2c;
    color: #fff;
    border-radius: 50%;
    padding: 2px;
    float: left;
}

#header .shopping-cart-icon:hover {
    opacity: 0.6;
}

#header .log-in {
    float: left;
    width: 40%;
    font-size: 16px;
    padding:  8px;
    border: 2px solid #dec18c;
    background-color: #fff;
    cursor: pointer;
    color: #cea251; 
}
image.png
#header .log-in:hover {
    background-color: #dec18c;
    color: #fff;
}

#header .header-info {
    display: block;
    float: left;
}

#header .header-info {
    padding-top: 32px;
    padding-left: 8px;
}

#header .header-info p {
    padding: 4px;
    color: #cea251;
}

#header .header-info i {
    padding: 8px;
}

#nav {
    display: flex;
    border: 2px solid #dec18c;
    width: 100%;
    margin-top: 16px;
}

#nav, .nav-menu {
    list-style-type: none;
}

#nav > li {
    flex: 1;
    text-align: center;
    background-color: #cea251;
    z-index: 1;
}

#nav li {
    position: relative;
}

#nav > li > a,
.nav-menu > li > a {
    color: #000;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
}

#nav li:hover .nav-menu {
    display: block;
}

#nav > li:hover,
#nav .nav-menu li:hover {
    color: #000;
    background-color: #e9d6b4;
}

#nav .nav-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    margin-left: 25%;
}

#nav .nav-menu a {
    color: #000;
    padding: 0 12px;
    line-height: 46px;
}

/* Slider */
#slider {
    margin: 16px 48px;
    height: 600px;
    position: relative;
}
#slider .slideshow-container {
    display: block;
    float: left;
    width: 100%;
    height: 600px;
}

#slider .mySlides img {
    position: absolute;
    float: left;
    width: 100%;
    height: 600px;
}

#slider .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

#slider .dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 25px;
}

#slider .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#slider .active {
    background-color: #717171;
}

/* Fading animation */
#slider .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
/* content */
#content .container {
    float: left;
    margin: 48px;
}

#content .title-h2 {
    width: 100%;
    border: 1px solid #dec18c;
    padding: 8px;
    color: #cea251;
}

#content .ct-items {
    display: block;
    width: 100%;
}

#content .item {
    float: left;
    display: block;
    width: 20%;
    padding: 8px;
    border: 1px solid #dec18c;
}

#content .item-heading {
    display: inline-block;
    font-size: 16px;
    height: 48px;
    padding: 4px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#content .content-img {
    width: 100%;
    height: 225px;
}

#content .content-img:hover {
    opacity: 0.6;
}

#content .cost-item {
    text-align: center;
    padding: 8px;
    color: #c28d2c;
    font-size: 20px;
    font-weight: bold;
}

#content .button-item {
    display: flex;
}

#content .detail-item {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #c28d2c;
    padding: 8px;
    margin: 8px;
}

#content .detail-item:hover {
    opacity: 0.6;
}

#content .share {
    float: left;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid #dec18c;
}

#content .share-heading {
    display: inline-block;
    font-size: 16px;
    height: 48px;
    padding: 4px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#content .share img {
    width: 30%;
    padding: 8px;
    height: 120px;
}

#content .intro-share {
    width: 70%;
    float: right;
    padding: 8px;
    line-height: 1.6;
    height: 144px;
}
#content .share a {
    width: 70%;
    float: right;
    text-decoration: none;
    color: #c28d2c;
    font-weight: bold;
}

/* Footer */
#footer {
    margin: 48px 0;
    float: left;
    width: 100%;
    border-top: 2px groove #c28d2c;
}

#footer .logo {
    background-color: #fff !important;
}

#footer .logo img {
    width: 300px;
    padding: 0 32px;
}

#footer .footer-side{
    display: block;
    float: left;
    width: 25%;
    margin-top: 48px;
    background-color: #cea251;
    height: 250px;
}

#footer .heading {
    font-size: 25px;
    padding: 8px;
}

#footer .footer-side li {
    list-style-type: none;
    padding: 8px;
}

#footer .footer-side li a {
    text-decoration: none;
    color: #000;
}

#footer .footer-side li a:hover {
    opacity: 0.7;
    color: #fff;
}


/* Category */
#category .container {
    float: left;
    margin: 48px;
    border-collapse: collapse;
}

#category .title-h2 {
    width: 100%;
    border: 1px solid #dec18c;
    padding: 8px;
    color: #cea251;
    margin-bottom: 8px;
}

#category .aside-category {
    float: left;
    width: 20%;
    padding: 16px;
}

#category .title-aside {
    font-size: 20px;
    padding: 16px;
}

#category .aside-content {
    padding: 8px;
}

#category .aside-item {
    list-style-type: none;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

#category .aside-item:hover {
    padding-left: 16px;
    color: #cea251;
}

#category .ct-items {
    display: block;
    width: 80%;
    float: right;
    height: 800px;
}

#category .item {
    float: left;
    display: block;
    width: 25%;
    padding: 8px;
    border: 1px solid #dec18c;
}

#category .item-heading {
    display: inline-block;
    font-size: 16px;
    height: 48px;
    padding: 4px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#category .content-img {
    width: 100%;
    height: 225px;
}

#category .content-img:hover {
    opacity: 0.6;
}

#category .cost-item {
    text-align: center;
    padding: 8px;
    color: #c28d2c;
    font-size: 20px;
    font-weight: bold;
}

#category .button-item {
    display: flex;
}

#category .detail-item {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #c28d2c;
    padding: 8px;
    margin: 8px;
}

#category .detail-item:hover {
    opacity: 0.6;
}

#category .list-page {
    float: right;
    bottom: 25px;
    padding: 8px;
}

#category .page {
    width: 32px;
    height: 32px;
    text-align: center;
    float: left;
    list-style-type: none;
    padding: 8px;
    margin: 8px;
    border-radius: 50%;
    border: 1px solid #cea251;
    cursor: pointer;
}

#category .page:hover {
    background-color: #dec18c;
    border: 1px solid #000;
}

/* Product */

#product {
    margin: 48px;
}

#product .container {
    float: left;
    width: 100%;
    border-collapse: collapse;
}

#product .navigation {
    display: block;
    border: 1px solid #dec18c;
    height: 46px;
    padding: 12px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 100%;
    margin-bottom: 32px;
}

#product .navigation li {
    display: inline;
    list-style-type: none;
    float: left;
    cursor: pointer;
}

#product .navigation li:hover {
    opacity: 0.7;
}

#product .navigation li a,.ti-nav {
    text-decoration: none;
    color: #c28d2c;
    text-align: center;
}

#product .ct-product {
    display: block;
    height: 600px;
    float: left;
}

#product .ct-product img {
    float: left;
    width: 60%;
    height: 600px;
}

#product .detail-product {
    float: left;
    width: 40%;
    padding-left:32px ;
}

#product .detail-product .title-h3 {
    text-align: center;
    padding-bottom: 16px;
    color: #c28d2c;
}

#product .product-code, 
#product .product-status {
    font-size: 15px;
    color: #cea251;
    font-style: oblique;
    padding-bottom: 8px;
}

#product .product-price {
    font-size: 24px;
    color: #c28d2c;
    font-weight: bold;
    padding-bottom: 8px;
}

#product .quantity {
    padding-bottom: 8px;
    display: flex;
}

#product .quantity label {
    padding: 4px 16px 4px 0;
}

#product .quantity button {
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: #ececec;
    border: 0;
    cursor: pointer;
}

#product .quantity button:hover {
    background-color: #bbb;
}

#product .quantity input {
    width: 40px;
    text-align: center;
    border: 0.5px solid #ccc;
    cursor: pointer;
    font-size: 16px;
}

.quantity-selector::-webkit-outer-spin-button, .quantity-selector::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}

#product .pro-buy {
    float: left;
    width: 100px;
    text-decoration: none;
    background-color: #cea251;
    padding: 8px 0;
    text-align: center;
    color: #fff;
    margin-left: 200px;
}

#product .pro-buy:hover {
    opacity: 0.6;
}

#product .describe {
    float: left;
    width: 100%;
}

#product .describe {
  line-height: 1.6;
  list-style-type: none;
}

#product .pro-title-h3 {
    width: 100%;
    border: 1px solid #dec18c;
    padding: 8px;
    color: #cea251;
    float: left;
    margin-top: 32px;
}

#product .ct-items {
    display: block;
    width: 100%;
    
}

#product .list-items {
    height: 1520px;
}

#product .item {
    float: left;
    display: block;
    width: 20%;
    padding: 8px;
    border: 1px solid #dec18c;
}

#product .item-heading {
    display: inline-block;
    font-size: 16px;
    height: 48px;
    padding: 4px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#product .product-img {
    width: 100%;
    height: 225px;
}

#product .product-img:hover {
    opacity: 0.6;
}

#product .cost-item {
    text-align: center;
    padding: 8px;
    color: #c28d2c;
    font-size: 20px;
    font-weight: bold;
}

#product .button-item {
    display: flex;
}

#product .detail-item {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #c28d2c;
    padding: 8px;
    margin: 8px;
}

#product .detail-item:hover {
    opacity: 0.6;
}

#product .list-page {
    float: right;
    bottom: 25px;
    padding: 8px;
    right: 0;
}

#product .page {
    width: 32px;
    height: 32px;
    text-align: center;
    float: left;
    list-style-type: none;
    padding: 8px;
    margin: 8px;
    border-radius: 50%;
    border: 1px solid #cea251;
    cursor: pointer;
}

#product .page:hover {
    background-color: #dec18c;
    border: 1px solid #000;
}

/* tab-reviews */

.tab-reviews {
    margin: 48px ;
    display: block;
    float: left;
}

.reviews-title {
    width: 100%;
    float: left;
    color: #c28d2c;
    font-size: 20px;
    padding: 16px;
    border-top: 2px solid #cea251;
}

#commentform {
    float: left;
    width: 70%;
    border:2px solid #dec18c;
    padding: 32px;
    background-color: #e9d6b4;
}

#commentform .comment-form-comment {
    float: left;
    width: 100%;
}

#commentform span {
    color: red;
}

#commentform .comment-form-comment textarea {
    border-radius: 10px;
}

#commentform label {
    float: left;
    width: 20%;
    padding:  8px 0;
}

#commentform .comment-form-author,
 .comment-form-email {
    width: 50%;
    float: left;
    padding: 16px;
}

#commentform .comment-form-author input,
 .comment-form-email input {
    height: 32px;
    padding: 4px;
    border-radius: 5px;
 }

 #commentform .comment-form-cookies {
    width: 100%;
    float: left;
    padding-bottom: 32px ;
 }

 #commentform .comment-form-cookies input {
    width: 5%;
    float: left;
    height: 16px;
    margin-top: 8px;
 }

#commentform .comment-form-cookies label {
    width: 95%;
}

#commentform .form-submit {
    text-align: center;
    margin: 8px;
}

#commentform .form-submit input {
    padding: 8px 16px;
    background-color: red;
    border-radius: 10px;
}

#commentform .form-submit input:hover {
    opacity: 0.8;
}